body {
    display: flex;
    justify-content: center;
}

#calculator-body {
    display: flex;
    flex-direction: column;
    width: 50vh;
    height: 62.5vh;
    margin: 10px;
    background-color: palevioletred;
}

#display {
    display: flex;
    height: 16.66%;
    flex-shrink: 0;
}

.buttons {
    display: flex;
    flex-grow: 1;
    align-items: stretch;
    box-sizing: border-box;
}

#left-side {
    display: flex;
    flex-direction: column;
    flex: 0 0 calc(75% - 2px);
    flex-direction: column;
    margin-right: 2px;
}

#clear-row {
    display: flex;
    gap: 2px;
    flex: 0 0 calc(20% - 2px);
    margin-bottom: 2px;
    min-height: 0;
}

#clear-row > button {
    flex: 0 0 calc((100% - 2px) / 2);
    box-sizing: border-box;
}

#number-rows {
    display: flex;
    flex: 0 1 calc(80% - 2px);
    flex-wrap: wrap;
    gap: 2px;
    align-content: flex-start;
    min-height: 0;
}

#number-rows > button {
    flex: 0 0 calc((100% - 4px) / 3);
    height: calc((100% - 6px) / 4);
    box-sizing: border-box;
    border-radius: 50%;
}

button {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    min-width: 30px;
}

#right-side {
    display: flex;
    flex: 0 0 calc(25%);
}

#operator-column {
    display: flex;
    flex: 0 0 calc(25%);
    flex-direction: column-reverse;
    gap: 2px;
    flex-grow: 1;
}

#operator-column > button {
    flex: 0 0 calc((100% - 8px) / 5);
    box-sizing: border-box;
    border-radius: 50%;
}